<footer class="iq-footer">
    <div class="container-fluid">
        <div class="row about-logo">
            <div>
                <img src="{{ asset('images/logo-mp.png') }}"  class="img-fluid">
                <span class="mb-0 text-white-50" style="margin-left:50px;">&#169 Mediaport.lt</span>
            </div>
        </div>
        </div>
    </div>
</footer>
