{% extends 'app/base.html.twig' %}

{% block body %}
<div class="movie-content-custom">
    {% include('app/includes/read-more-modal.html.twig') %}
    <div class="app-movie-title trending-text text-uppercase">
        <h1>Filmai</h1>
    </div>

    <div class="container-fluid">
        <div id="trending-data24">
            <div class="trending-info align-items-center w-100 animated fadeInUp">
                <p class="trending-text text-uppercase movie-category-title">Naujausi Filmai</p>
                <div class="episodes-contens mt-4">
                    <div class="owl-carousel owl-theme episodes-slider1 list-inline p-0 mb-0 movie-card-slider">
                        {% for movie in newestMovies %}
                            {% include('app/includes/movie-card.html.twig') %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for movieWithCategory in moviesWithCategories %}

            <div class="container-fluid">
                <div id="trending-data24">
                    <div class="trending-info align-items-center w-100 animated fadeInUp">
                        <p class="trending-text text-uppercase movie-category-title">{{ movieWithCategory.category }}</p>
                        <div class="episodes-contens mt-4">
                            <div class="owl-carousel owl-theme episodes-slider1 list-inline p-0 mb-0 movie-card-slider">
                                {% for movie in movieWithCategory.movies %}
                                    {% include('app/includes/movie-card.html.twig') %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    {% endfor %}

</div>

{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/app/ticket-payment.js') }}"></script>
    <script type="module" src="{{ asset('js/app/movie-list.js') }}"></script>
    <script type="module" src="{{ asset('js/app/movie-preview.js') }}"></script>
{% endblock %}
