<div class="flex-center movie-time d-flex align-items-center my-2">
    <div class="trailor-video" style="display: block; bottom:100px">
        <a href="{{ movie.previewUrl }}"  class="video-open-youtube playbtn" id="open-video">
            <svg version="1.1" style="height: 50px; "
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                 x="0px" y="0px" width="80px" height="80px" viewBox="0 0 213.7 213.7"
                 enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                  <polygon class='triangle' fill="none" stroke-width="7" stroke-linecap="round"
                           stroke-linejoin="round" stroke-miterlimit="10"
                           points="73.5,62.5 148.5,105.8 73.5,149.1 " />
                <circle class='circle' fill="none" stroke-width="7" stroke-linecap="round"
                        stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
            </svg>
            <span class="w-trailor">Anonsas</span>
        </a>
    </div>
</div>
