/*------------- Variable ------------*/

:root {
  --iq-primary: #e50914;
  --iq-primary-hover: #bf000a;
  --iq-light-primary: #d7d3f8;
  --iq-secondary: #6c757d;
  --iq-white: #ffffff;
  --iq-black: #000000;
  --iq-title-text: #23203c;
  --iq-body-text: #d1d0cf;
  --iq-body-bg: #1c1b1b;
  --iq-bg1: #191919;
  --iq-body-border: #393750;
  --iq-gold: #E6C75F;
  --iq-black: #000000;
  --iq-light-card:#191919;
}
