{% extends 'app/base.html.twig' %}

{% block body %}
<section class="m-profile duk">
    <div class="container">
        <h2 class="main-title mb-4 flex-center">Dažniausiai užduodami klausimai</h2>
        <div>
            <h3>1. Kaip tapti klubo nariu?</h3>
            <p class="duk-p">Klubo nariu galite tapti atlikdami registraciją bei pažymėdami varnelę, kuri atliks užklausą dėl klubo narystės patvirtinimo.</p>
            <img src="{{ asset('images/duk1.png') }}" alt="">
        </div>
        <hr>
        <div>
            <h3>2. Kaip nusipirkti bilietą?</h3>
            <p class="duk-p">Bilietus gali pirkti tik registruoti vartotojai. </p>
            <p class="duk-p">Išsirinkę norimą filmą spauskite mygtuką pirkti bilietą</p>
            <img src="{{ asset('images/duk2.png') }}" alt="" >
            <p class="duk-p">ir tuomet naujai atsidariusiame lange pasirinkite mokėjimo būdą.</p>
            <img src="{{ asset('images/duk2-1.png') }}" alt="" >
        </div>
    </div>
</section>
{% endblock %}
