{% extends 'admin/base.html.twig' %}

{% block body %}
    <div id="content-page" class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Redaguoti Kategoriją</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control" value="{{ category.title }}" name="title">
                                        </div>
                                        <div class="form-group ">
                                            <button type="submit" class="btn btn-primary">Patvirtinti</button>
                                            <a href="{{ path('admin_category_list') }}" class="btn btn-danger">Atgal</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
